{{ if .Site.Params.options.darkMode -}}
  {{ $darkModeInit := resources.Get "js/darkmode-init.js" | js.Build | minify -}}
  <script>{{ $darkModeInit.Content | safeJS }}</script>
{{ end -}}
{{- if and (.Site.Params.alert) (.Site.Params.alertDismissable) -}}
  {{ $alertInit := resources.Get "js/alert-init.js" | js.Build | minify -}}
  <script>{{ $alertInit.Content | safeJS }}</script>
{{- end -}}
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?e0f6118231844d191b3ec48327305e80";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>